@charset "UTF-8";

body{
    background-image: linear-gradient(to top right, rgb(33, 12, 90), rgb(122, 7, 151));
}

img{
    transform: rotate(270deg);
    width: 200px;
    height: 100px;

    margin-bottom: 75px;
    margin-top: 40px;

    border-radius: 10px;   
    border-style:groove;
    border-color: rgb(122, 133, 133);

    background-image: linear-gradient(to top left, rgb(66, 5, 5), rgb(167, 0, 0));

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;

}

img:hover{
    transform: scale(1.05) rotate(270deg);
} 

aside{
    background-image: linear-gradient(to top, black, rgb(65, 64, 64));
    width: 210px;

    margin-left: 15px;
    border-style:groove;
    border-color: rgb(122, 133, 133);
    border-radius: 20px;
}

article{
    width: auto;
    height: auto;
    
    border: groove rgb(122, 133, 133);

    text-align: center;

    background-color: lightsteelblue;

    margin-bottom: 5px;
}